body{
    background-image: url('../../public/background.svg');
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover;
}
div.card{
    min-width: 250px;
}
div.card h3{
    margin: 15px 0 0 0;
}
div.card p{
    margin: 15px 0;
}